// nextflow.config (default fallback config file)
params {
    k=6
    cpus=4
    experiment = "SELEX"                // Experiment's name
    input_dir = "./input_data"          // optional
    output_dir = "./output"             // optional
    fasta_pattern = null
    round_order = null                 // list of selex rounds to take: ["R0", ...]
    derep_csv = null
	derep_fasta = null
}

process.conda='conda-env.yml'
