// nextflow.config (default fallback config file)
params {
    k=6
    experiment = "SELEX"                // Experiment's name

    input_dir = "./input_data"          // optional
    output_dir = "./output"             // optional
    fasta_pattern = null                // e.g. '*_{fwd,rev}.fastq'
    round_order = null                 // list of selex rounds to take: ["R0", ...]
	derep_fasta = null

    trim_delimiter = null               // delimiter to be used to trim file names
    trim_filenames = true
}

process.conda='conda-env.yml'
process.maxForks = 20
